@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common css starts*/
body {
    font-family: "Poppins", sans-serif;
    background-color: #f3f1ff;
    font-weight: 400;
}

.container {
    width: 870px;
    margin: 0 auto;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #562EFF;
}

.blog-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #1e1e1edb;
}

/* common style ends */

/* header style */
header {
    background: #562eff;
    height: 94px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
}

.logo img {
    width: 41px;
}

.menu,
.menu-bar {
    display: flex;
    align-items: center;
    gap: 36px;
}

.menu-item a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.profile img {
    width: 51px;
    height: 51px;
}

/* ends header section */
/* top player blog  */

.blog-pt {
    margin: 30px 0;
}

.player-blog,
.course-section {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 33px;
}

.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    margin-top: 30px;
}

.top-player-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.top-player-info img {
    width: 56px;
    height: 56px;
}

.top-player-info h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000;
}

hr {
    border: 1px solid #d1d1d1;
    margin: 30px 0;
}

.top-blogs {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.top-blog-info {
    display: flex;
    gap: 16px;
    align-items: center;
}

.blog-banner img {
    width: 177px;
}

.blog-author {
    font-size: 16px;
    line-height: 24px;
    color: #9f9f9f;
    font-weight: 400;
    margin-top: 6px;
}

/* Course stles */
.course-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin-top: 24px;
    gap: 10px;
}

.courses-lists {
    width: 255px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05));
    background: #fff;
    padding: 12px;
    border-radius: 24px;
}

.courses-lists .blog-title {
    margin-top: 19px;
}

.courses-lists p {
    color: #ED6B4F;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    margin-top: 7px;
}

.course-deatils {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icons-con .filled {
    color: #FFC014;
}

.icons-con .normal-gray {
    color: #aeaeae;
}

.icons-con span {
    color: #aeaeae;
    font-size: 14px;
}

.watch-hour {
    background: #FFE4E8;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}